body{
  font-family: "Futura";
  /*font-weight: bold;*/
  font-size: 14px;

  margin: 6%;

}


img {

  width: 50%;
  height:auto;
  object-fit: contain;
  padding-bottom:3%;

}

nav {


  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;*/
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top:8% ; /* Stay at the top */
    right: 0;

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    flex-direction: column;


}

 a {
  color: black;
  text-decoration: none;
  margin-bottom: 10%;

}

.about {
  width:50%;

}
